<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="format-detection" content="telephone=no">
    <title>Dynamic Solution Innovators</title>

    <link rel="stylesheet" href="assets/css/app.css">

    <link rel="icon" href="assets/img/favicon.png" type="image/png"/>
    <link rel="shortcut icon" href="assets/img/favicon.png" type="image/png"/>
</head>
<body>

{{#ifpage 'index'}}

<!-- TOP BAR -->

<div class="row large-centered">
    <div class="title-bar show-caption-for-small" data-responsive-toggle="example-animated-menu">
        <div class="title-bar-left">
            <div class="title-bar-title">
                <a href="index.html"><img class="dsi-logo" src="assets/img/dsi.png"/></a>
            </div>
        </div>
        <div class="title-bar-right">
            <button class="menu-icon dark" type="button" data-toggle=""></button>
        </div>
    </div>
    <div class="top-bar hide-caption-for-small" id="example-animated-menu">
        <div class="top-bar-left">
            <a href="index.html"><img class="dsi-logo" src="assets/img/dsi.png"/></a>
        </div>

        <div class="top-bar-right" id="right-menu">
            <ul class="menu vertical medium-horizontal" data-magellan>
                <li><a class="top-bar-menu-item capitalize" href="#first">Projects</a></li>
                <li><a class="top-bar-menu-item capitalize" href="#second">Clients</a></li>
                <li><a class="top-bar-menu-item capitalize" href="#third">Our People</a></li>
                <li><a class="partner-with-us capitalize" href="team.html#join-us">Join Us</a></li>
            </ul>
        </div>
    </div>
</div>

{{/ifpage}}

{{#unlesspage 'index'}}

<!-- TOP BAR -->

<div class="row large-centered">
    <div class="title-bar show-caption-for-small" data-responsive-toggle="example-animated-menu">
        <div class="title-bar-left">
            <div class="title-bar-title">
                <a href="index.html"><img class="dsi-logo" src="assets/img/dsi.png"/></a>
            </div>
        </div>
        <div class="title-bar-right">
            <button class="menu-icon dark" type="button" data-toggle=""></button>
        </div>
    </div>
    <div class="top-bar hide-caption-for-small" id="example-animated-menu">
        <div class="top-bar-left">
            <a href="index.html"><img class="dsi-logo" src="assets/img/dsi.png"/></a>
        </div>

        <div class="top-bar-right" id="right-menu">
            <ul class="menu vertical medium-horizontal" data-magellan>
                <li><a class="top-bar-menu-item capitalize" href="index.html#first">Projects</a></li>
                <li><a class="top-bar-menu-item capitalize" href="index.html#second">Clients</a></li>
                <li><a class="top-bar-menu-item capitalize" href="index.html#third">Our People</a></li>
                <li><a class="partner-with-us capitalize" href="team.html#join-us">Join Us</a></li>
            </ul>
        </div>
    </div>
</div>

{{/unlesspage}}

{{> body}}

<!-- CONTACT US CONTENT -->

<div id="contact-us" class="row expanded">
    <div class="row padding-left-10 margin-top-1 margin-bottom-1">
        <div class="small-12 medium-4 large-4 columns contact-us-container">
            <p class="contact-us-content"><strong>Dynamic Solution Innovators Ltd.</strong></p>
            <address class="contact-us-content" style="font-style: normal">
                House 185, Lane 2, New DOHS<br>
                Mohakhali, Dhaka 1206, Bangladesh
            </address>
        </div>
        <div class="small-12 medium-4 large-4 columns contact-us-container">
            <p class="contact-us-content"><strong>Contact Us:</strong></p>
            <p class="contact-us-content">
                Dhaka Office: +88017300-374-00<br>
                Telephone: +88-02-9887041<br>
                USA Office: 404-287-0730<br>
                Email: <img src="assets/img/dsi-email.png">
            </p>
        </div>
        <div class="small-12 medium-4 large-4 columns contact-us-container">
            <p class="contact-us-content">
                <strong>Find Us: </strong>
                <a href="https://www.facebook.com/DynamicSolutionInnovators/"
                   class="show-for-small-only" style="margin-left: 0.5rem;">
                    <img src="assets/img/facebook.png" style="height: 25px; width: 25px;">
                </a>
                <a href="https://www.linkedin.com/company/the-dynamic-solution-innovators/"
                   class="show-for-small-only" style="margin-left: 0.5rem;">
                    <img src="assets/img/linkedin.png" style="height: 25px; width: 25px;">
                </a>
            </p>
            <div class="row hide-for-small-only">
                <div class="float-left">
                    <a href="https://www.facebook.com/DynamicSolutionInnovators/">
                        <img src="assets/img/facebook.png" style="height: 25px; width: 25px;">
                    </a>
                </div>
                <div class="float-left" style="margin-left: 0.5rem;">
                    <a href="https://www.linkedin.com/company/the-dynamic-solution-innovators/">
                        <img src="assets/img/linkedin.png" style="height: 25px; width: 25px;">
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- COPYRIGHT CONTENT -->

<div id="copyright" class="row expanded">
    <div class="row">
        <p class="copyright-content text-center">
            © 2018 Dynamic Solution Innovators Ltd.
        </p>
    </div>
</div>

<!-- RETURN TO TOP -->

<a href="javascript:void(0)" id="return-to-top">
    <img src="assets/img/back-to-top.png">
</a>

<script src="assets/js/app.js"></script>

<script>
    // ===== Scroll to Top ====
    $(window).scroll(function () {
        if ($(this).scrollTop() >= 100) {       // If page is scrolled more than 50px
            $('#return-to-top').fadeIn(200);    // Fade in the arrow
        } else {
            $('#return-to-top').fadeOut(200);   // Else fade out the arrow
        }
    });
    $('#return-to-top').click(function () {     // When arrow is clicked
        $('body,html').animate({
            scrollTop: 0                        // Scroll to top of body
        }, 500);
    });
</script>
</body>
</html>
